[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DGLMExtPois"]
	path = DGLMExtPois
	url = https://github.com/franciscomartinezdelrio/dglmextpois
	shallow = true
	registered = true
[submodule "tsfgrnn"]
	path = tsfgrnn
	url = https://github.com/franciscomartinezdelrio/tsfgrnn
	shallow = true
	registered = true
[submodule "tsfknn"]
	path = tsfknn
	url = https://github.com/franciscomartinezdelrio/tsfknn
	shallow = true
	registered = true
