[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DGLMExtPois"]
	path = DGLMExtPois
	url = https://github.com/franciscomartinezdelrio/dglmextpois
[submodule "tsfgrnn"]
	path = tsfgrnn
	url = https://github.com/franciscomartinezdelrio/tsfgrnn
[submodule "tsfknn"]
	path = tsfknn
	url = https://github.com/franciscomartinezdelrio/tsfknn
[submodule "utsf"]
	path = utsf
	url = https://github.com/franciscomartinezdelrio/utsf
[submodule "vctsfr"]
	path = vctsfr
	url = https://github.com/franciscomartinezdelrio/vctsfr
